@import "style.scss";

$primary-color: #21707d;
$prim-dark: #1a555e;
$prim-medium: #5aa4ad;
$prim-light: #afd6db;
$prim-extra-light: #e9fafc;

body {
  main {
    width: 100%;

    .container {
      width: 70%;

      h2 {
        margin-bottom: 1.5rem;
      }

      header {
        margin-bottom: 2rem;
      }
      .section {
        width: 75%;
        margin: auto;
        padding: 3rem;
        border-radius: 0.8rem;
        box-shadow: 0 0 13px 3px $prim-medium;
      }
    }

    p {
      font-size: 1.3rem;
      line-height: 1.5rem;
      margin: 0.7rem;
    }
  }
}

@media (max-width: 770px) {
  body {
    main {
      .container {
        width: 100%;
        margin: 2rem auto;
        header {
          width: 70vw;
          margin: 0 auto 2rem;
        }

        .section {
          width: 80vw;
        }
      }
    }
  }
}
