@import "style.scss";

$primary-color: #21707d;
$prim-dark: #1a555e;
$prim-medium: #5aa4ad;
$prim-light: #afd6db;
$prim-extra-light: #e9fafc;

body {
  margin: auto;
  main {
    width: 90vw;
    margin: auto;
    .container {
      .search-container {
        .search-bar {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: $prim-medium;
          width: 70%;
          height: 100%;
          margin: auto;
          font-size: 1.3rem;
          margin: 2rem auto 3rem;
          border-radius: 0.4rem;

          input {
            padding: 0.8rem;
            margin: 0;
            flex-grow: 3;
            color: #555;
            font-size: 1.4rem;
            border: 2px solid $prim-medium;
            border-radius: 0.4rem 0 0 0.4rem;

            &:focus {
              outline: none;
              border: 2px solid $primary-color;
            }
          }

          label {
            color: #fff;
            cursor: pointer;
            margin: 0;
            padding: 1rem 1.5rem 1rem 0.5rem;

            i {
              padding: 0 0.6rem;
            }

            &:hover {
              background-color: $primary-color;
              border-radius: 0.4rem;
              transition: all ease-in-out 0.2s;
              transform: scale(1.1);
            }
          }
        }
      }

      .assessments-section {
        // width: 70vw;
        margin: auto;

        p {
          font-size: 1.2rem;
          margin: 1rem;
        }

        .backdrop {
          z-index: 2;
          &.show {
            position: absolute;
            background-color: #00000059;
            top: 0;
            left: 0;
            height: 387vh;
            width: 200vw;
            transform: translate(0, 0);
            transition: all 0.1s ease-in-out;
          }
        }
        .popup {
          display: flex;
          flex-direction: column;
          background-color: #f4f4f4;
          position: absolute;
          top: 10%;
          left: 20%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;
          width: 60%;
          border-radius: 0.8rem;
          box-shadow: 0 0 13px 3px $prim-medium;
          transform: translate(0, -100rem);
          z-index: 4;

          &.show {
            position: fixed;
            transform: translate(0, 0);
            transition: all 0.5s ease-in-out;
          }

          .popup-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 1.5rem;

            .close-popup {
              position: absolute;
              left: 94%;
              background-color: $primary-color;
              color: #fff;
              font-size: 1.1rem;
              font-weight: bold;
              font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
              line-height: 2rem;
              width: 2rem;
              height: 2rem;
              border-radius: 50%;

              &:hover {
                background-color: $prim-medium;
                cursor: pointer;
              }
            }

            .pop-up-header {
              width: 70%;
            }

            p {
              font-size: 1.1rem;
              margin: 1rem;
            }
          }
        }

        h3 {
          background-color: $prim-light;
          color: #fff;
          font-size: 1.4rem;
          line-height: 2rem;
          padding: 0.7rem;
          margin: 1rem;
          border-radius: 0.3rem;
        }

        .assessments-container {
          display: flex;
          align-items: center;

          button {
            color: $prim-medium;
            font-size: 2rem;
            border: none;
            border-radius: 50;
            cursor: pointer;

            &:hover {
              color: $prim-light;
              transform: scale(1.1);
              transition: all ease-in-out 0.2s;
            }
          }

          .assessment-card {
            max-width: 16rem;
            margin: 1rem;
            padding: 1.8rem 0;
            border-radius: 0.8rem;
            box-shadow: 0 0 13px 3px $prim-light;

            &:hover {
              background-color: #fff;
            }

            h4 {
              margin: 1rem;
              padding: 0 2rem;
              font-size: 1.1rem;
              line-height: 1.3rem;
              font-weight: 500;
            }

            .tech-icon {
              display: flex;
              flex-direction: column;
              background-color: $prim-light;
              color: $prim-extra-light;
              width: 5rem;
              height: 5rem;
              margin: auto;
              border-radius: 50%;

              span {
                margin-top: 1.3rem;
                transform: scale(2);
                z-index: 1;
              }

              p {
                margin: 0.6rem auto;
                font-size: 1.05rem;
              }

              &.html {
                background-color: #f38942;
              }
              &.css {
                background-color: #349edc;
              }
              &.bootstrap {
                background-color: #513a75;
              }
              &.tailwind {
                background-color: #19b3ba;
              }
              &.sass {
                background-color: #cf649a;
              }
              &.js {
                background-color: #f0c022;
              }
              &.jquery {
                background-color: #193556;
              }
              &.ts {
                background-color: #2f74c0;
              }
              &.react {
                background-color: #4cbad8;
              }
              &.angular {
                background-color: #de0031;
              }
              &.vue {
                background-color: #41b883;
              }
              &.python {
                background-color: #356895;
              }
              &.django {
                background-color: #092e20;
              }
              &.node {
                background-color: #3b7f3a;
              }
              &.java {
                background-color: #131f3f;
              }
              &.php {
                background-color: #4b568c;
              }
              &.ruby {
                background-color: #eb5745;
              }
              &.csharp {
                background-color: #92458c;
              }
              &.cplusplus {
                background-color: #659bd3;
              }
              &.dot-net {
                background-color: #6d409d;
              }
              &.go {
                background-color: #67d7e1;
              }
              &.git {
                background-color: #f04e35;
              }
              &.heroku {
                background-color: #5821b2;
              }
              &.firebase {
                background-color: #efc03c;
              }
              &.atlassian {
                background-color: #004ec2;
              }
              &.bitbucket {
                background-color: #1f5081;
              }
            }

            p {
              margin: 1rem auto;
            }

            .tech-levels {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 40%;
              margin: auto;

              .btn {
                background-color: $prim-light;
                color: #fff;
                font-weight: 600;
                text-decoration: none;
                width: 100%;
                margin: 0.3rem;
                padding: 0.7rem;
                border-radius: 0.3rem;

                &:nth-child(2) {
                  background-color: $prim-medium;
                }

                &:last-child {
                  background-color: $primary-color;
                }

                &:hover {
                  transform: scale(1.1);
                  cursor: pointer;
                  transition: all ease-in-out 0.2s;
                }
              }
            }

            p {
              font-size: 1.2rem;
              width: 80%;
            }
          }
        }
      }
    }
  }

  & .bgr-medium {
    background-color: $prim-medium;
  }
}

// Responsive

@media (max-width: 699px) {
  body {
    main {
      width: 100vw;
      margin: 0 2rem;
      padding: 0 1rem;
      .assessments-section {
        .popup {
          display: flex;
          flex-direction: column;
          background-color: #f4f4f4;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 80%;
          width: 60%;
          border-radius: 0.8rem;
          box-shadow: 0 0 13px 3px $prim-medium;
          transform: translate(0, -100rem);
          z-index: 4;

          &.show {
            position: fixed;
            top: 10%;
            left: 3%;
            width: 85vw;
            height: 80vh;
            transform: translate(0, 0);
            transition: all 0.5s ease-in-out;
          }

          .popup-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 1.5rem;

            .close-popup {
              margin: -1rem;
              &:hover {
                background-color: $prim-medium;
                cursor: pointer;
              }
            }

            .pop-up-header {
              width: 70%;
            }

            p {
              font-size: 1.1rem;
              margin: 1rem;
            }
          }
        }

        h3 {
          background-color: $prim-light;
          color: #fff;
          font-size: 1.4rem;
          line-height: 2rem;
          padding: 0.7rem;
          margin: 1rem;
          border-radius: 0.3rem;
        }
        .assessments-container {
          width: 95vw;

          .assessment-card {
            max-width: 50rem;
            margin: 2rem;
          }
        }
      }
    }
  }
}
