@import "style.scss";

$primary-color: #21707d;
$prim-dark: #1a555e;
$prim-medium: #5aa4ad;
$prim-light: #afd6db;
$prim-extra-light: #e9fafc;
$success-color: #29977f;
$error-color: #b94578;

body {
  main {
    width: 100%;

    .container {
      .form-wrapper {
        width: 50%;
        margin: auto;
        border-radius: 0.8rem;
        box-shadow: 0 0 13px 3px $prim-light;
        padding: 2rem;

        .form {
          padding: 1.9rem 3rem 2.5rem;

          h2 {
            text-align: center;
            margin: 0 0 2rem;
          }

          .form-control {
            margin-bottom: 1.2rem;
            padding-bottom: 1.25rem;
            position: relative;

            label {
              color: $primary-color;
              display: block;
              font-size: 1.3rem;
              margin-bottom: 0.5rem;
            }

            input {
              display: block;
              width: 100%;
              font-size: 1.2rem;
              padding: 0.6rem;
              border: 2px solid #f0f0f0;
              border-radius: 0.25rem;

              &:focus {
                outline: none;
                border-color: $prim-light;
              }

              &:-webkit-autofill::first-line {
                font-size: 1.2rem;
              }
            }

            &.success {
              input {
                border-color: $success-color;
              }
            }

            &.error {
              input {
                border-color: $error-color;
              }

              small {
                font-size: 1.1rem;
                line-height: 0.6rem;
                visibility: visible;
              }
            }

            small {
              color: $error-color;
              position: absolute;
              bottom: 0;
              left: 0;
              visibility: hidden;
            }
          }

          button {
            background-color: $primary-color;
            color: #fff;
            display: block;
            width: 80%;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0.8rem;
            margin: 2.5rem auto 0;
            border: 2px solid $prim-dark;
            border-radius: 0.3rem;
            cursor: pointer;

            &:hover {
              background-color: $prim-medium;
              border: 2px solid $primary-color;
            }
          }
        }
      }
    }
  }
}

// Responsive
@media (max-width: 770px) {
  body {
    main {
      .container {
        .form-wrapper {
          width: 90vw;
          margin: auto;
          padding: 0;
          .form {
            width: 100%;
          }
        }
      }
    }
  }
}
