@import "style.scss";
@import "register.scss";

$primary-color: #21707d;
$prim-dark: #1a555e;
$prim-medium: #5aa4ad;
$prim-light: #afd6db;
$prim-extra-light: #e9fafc;
$success-color: #29977f;
$error-color: #b94578;

body {
  main {
    width: 100%;

    .container {
      padding: 2rem 0;
    }
  }
}

@media (max-width: 770px) {
  body {
    main {
      .container {
        .form-wrapper {
          width: 90vw;
          margin: auto;
          padding: 0;
          .form {
            width: 100%;
          }
        }
      }
    }
  }
}
