$primary-color: #21707d;
$prim-dark: #1a555e;
$prim-medium: #5aa4ad;
$prim-light: #afd6db;
$prim-extra-light: #e9fafc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  color: #444;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;

  .navbar {
    background: linear-gradient($primary-color, $prim-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 7rem;
    width: 100vw;

    .logo {
      width: 7rem;
      height: auto;

      img {
        width: 100%;
      }
    }

    .navigation {
      a {
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.08rem;
        text-decoration: none;
        margin: 0.8rem;

        &:last-child {
          padding: 0.5rem 1.5rem 0.7rem;
          border: 1.5px solid #fff;
          border-radius: 0.4rem;

          &:hover {
            background-color: $prim-medium;
            border: 1.5px solid $prim-medium;
            transition: all ease-in-out 0.2s;
          }
        }
      }
    }
  }

  main {
    .container {
      width: 70%;
      text-align: center;
      margin: 4rem auto;

      header {
        width: 80%;
        margin: auto;

        h2 {
          line-height: 1.3rem;
          margin: 1rem;
        }

        span {
          color: $primary-color;
        }

        .header-options {
          display: flex;
          padding-top: 1rem;

          .header-card {
            text-align: center;
            padding: 2rem;
            border-radius: 0.8rem;
            box-shadow: 0 0 13px 3px $prim-light;
            max-width: 45%;
            height: auto;
            margin: 2rem auto 3rem;

            &:hover {
              background-color: #fff;
            }

            h4 {
              font-size: 1.2rem;
            }

            i {
              background: $prim-medium;
              color: $prim-extra-light;
              font-size: 2rem;
              height: 5rem;
              width: 5rem;
              padding-top: 1.5rem;
              margin: 1.5rem;
              border-radius: 50%;
            }

            h3 {
              font-size: 1.4rem;
              margin: 0 auto 1.5rem;
            }

            p {
              font-size: 1.2rem;
              line-height: 1.4rem;
              margin-bottom: 1.5rem;
            }
            span {
              font-size: 1.2rem;
              color: #333;
            }

            .book-assessment {
              margin: 1.3rem;
              transition: all ease-in-out 0.2s;
              &:hover {
                transform: scale(1.1);
                a {
                  background-color: $prim-light;
                  cursor: pointer;
                }
              }
              a {
                background-color: $primary-color;
                color: #fff;
                padding: 0.9rem;
                margin: 4rem;
                text-decoration: none;
                font-size: 1.3rem;
                border-radius: 0.6rem;
              }
            }
          }
        }
      }

      .search-container {
        .search-bar {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: $prim-medium;
          width: 70%;
          height: 100%;
          margin: auto;
          font-size: 1.3rem;
          line-height: 1.3rem;
          margin: 2rem auto 3rem;
          border-radius: 0.4rem;

          input {
            padding: 0.8rem;
            margin: 0;
            flex-grow: 3;
            color: #555;
            font-size: 1.4rem;
            line-height: 1.3rem;
            border: 2px solid $prim-medium;
            border-radius: 0.4rem 0 0 0.4rem;

            &:focus {
              outline: none;
              border: 2px solid $primary-color;
            }
          }

          label {
            color: #fff;
            line-height: 1.3rem;
            cursor: pointer;
            margin: 0;
            padding: 1rem 1.5rem 1rem 0.5rem;

            i {
              padding: 0 0.6rem;
            }

            &:hover {
              background-color: $primary-color;
              border-radius: 0.4rem;
              transition: all ease-in-out 0.2s;
              transform: scale(1.1);
            }
          }
        }
      }

      .featured-info {
        h2 {
          font-size: 1.8rem;
          line-height: 2rem;
          margin: 2rem;

          span {
            background-color: $prim-light;
            color: #fff;
            font-size: 2rem;
            padding: 0.9rem 1.5rem;
            border-radius: 0.3rem;
          }
        }
        p {
          font-size: 1.5rem;
          width: 60%;
          margin: 1.5rem auto;
        }
        .featured-container {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 80%;
          margin: auto;

          .featured-card {
            margin: 1.5rem;
            padding: 1rem 0;
            border-radius: 0.8rem;
            box-shadow: 0 0 13px 3px $prim-light;

            &:hover {
              transform: scale(1.1);
              cursor: pointer;
              transition: all ease-in-out 0.2s;
            }

            i {
              background: $primary-color;
              color: $prim-extra-light;
              padding: 1.7rem;
              margin: 1.5rem;
              font-size: 2rem;
              line-height: 2.5rem;
              border-radius: 50%;

              &.light {
                background: $prim-light;
              }

              &.medium {
                background: $prim-medium;
              }
            }

            h3 {
              font-size: 1.4rem;
            }

            p {
              width: 80%;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 101vw;
    background: linear-gradient($prim-extra-light, $prim-dark);
    color: #fff;
    opacity: 0.5;
    padding-top: 4rem;

    .social-links {
      a {
        color: $prim-dark;
        text-decoration: none;
        padding: 0.27rem;
        font-size: 2rem;

        &:hover {
          color: $prim-medium;
        }
      }
    }

    .quick-links {
      padding: 2rem;
      a {
        color: #fff;
        text-decoration: none;
        padding: 0.3rem;
        font-size: 1.2rem;

        &:hover {
          color: $prim-medium;
        }
      }
    }

    .info {
      margin-bottom: 2rem;
      p {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 1rem;

        a {
          text-decoration: none;
          color: $prim-light;
          font-size: 1rem;
          font-family: "Acme", sans-serif;
          margin: 0.2rem;

          &:hover {
            color: $prim-extra-light;
          }
        }
      }
    }
  }
}

// Responsive

@media (min-width: 1400px) and (max-width: 1800px) {
  body {
    main {
      width: 90vw;
      .container {
        width: 90vw;

        .search-container {
          .search-bar {
            background-color: $prim-medium;
            width: 40vw;
            height: 100%;
            margin: auto;
            padding: 0;
            font-size: 1.4rem;
            line-height: 1.3rem;
            margin: 2rem auto 3rem;
            border-radius: 0.4rem;

            input {
              padding: 0.8rem;
              margin: 0;
              flex-grow: 3;
              color: #555;
              font-size: 1.3rem;
              line-height: 1.3rem;
              border: 2px solid $prim-medium;
              border-radius: 0.4rem 0 0 0.4rem;

              &:focus {
                outline: none;
                border: 2px solid $primary-color;
              }
            }

            label {
              color: #fff;
              line-height: 1.3rem;
              cursor: pointer;
              margin: 0;
              padding: 1rem 1.5rem 1rem 0.5rem;

              i {
                padding: 0 0.6rem;
              }

              &:hover {
                background-color: $primary-color;
                border-radius: 0.4rem;
                transition: all ease-in-out 0.2s;
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1020px) and (max-width: 1399px) {
  body {
    main {
      width: 100vw;
      .container {
        width: 100vw;
        header {
          h2 {
            font-size: 1.2rem;
          }
          .header-options {
            .header-card {
              .book-assessment {
                a {
                  margin: 0;
                }
              }
            }
          }
        }

        .search-container {
          .search-bar {
            width: 50vw;
            background-color: $prim-medium;
          }
        }

        .featured-info {
          h2 {
            font-size: 1.5rem;
            span {
              font-size: 1.4rem;
            }
          }

          p {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 1019px) {
  body {
    .navbar {
      flex-direction: column;
      width: 100vw;
      padding: 1rem 0 1.6rem;
      .logo {
        margin: 1.3rem;
      }
    }
    main {
      width: 100vw;
      .container {
        width: 100vw;
        header {
          width: 100vw;
          text-align: center;
          h2 {
            font-size: 1.2rem;
          }
          .header-options {
            width: 100vw;
            margin: 0.5rem;
            .header-card {
              .book-assessment {
                a {
                  margin: 0;
                }
              }
            }
          }
        }

        .search-container {
          .search-bar {
            padding: 0;
            font-size: 1.3rem;
            line-height: 1rem;
          }
        }
        .featured-info {
          h2 {
            font-size: 1.5rem;
            span {
              font-size: 1.3rem;
            }
          }

          p {
            font-size: 1.3rem;
          }

          .featured-container {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}

@media (max-width: 699px) {
  body {
    .navbar {
      flex-direction: column;
      width: 100vw;
      padding: 1rem 0 1.6rem;
      .logo {
        margin: 1.3rem;
      }

      .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.25rem;
      }
    }
    main {
      width: 100vw;
      .container {
        width: 100vw;
        header {
          width: 100vw;
          text-align: center;
          h2 {
            font-size: 1.2rem;
          }
          .header-options {
            flex-direction: column;
            width: 100vw;
            margin: 0.5rem;
            .header-card {
              max-width: 80vw;
              margin: 1rem auto;
              .book-assessment {
                a {
                  margin: 0;
                }
              }
            }
          }
        }

        .search-container {
          display: none;
        }
        .featured-info {
          h2 {
            font-size: 1.5rem;
            span {
              font-size: 1.3rem;
            }
          }

          p {
            font-size: 1.3rem;
          }

          .featured-container {
            grid-template-columns: 1fr;
          }
        }
      }
    }
  }
}
