@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?p17vmb");
  src: url("fonts/icomoon.eot?p17vmb#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?p17vmb") format("truetype"),
    url("fonts/icomoon.woff?p17vmb") format("woff"),
    url("fonts/icomoon.svg?p17vmb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e900";
}
.icon-angular:before {
  content: "\e901";
}
.icon-apache:before {
  content: "\e902";
}
.icon-atlassian:before {
  content: "\e903";
}
.icon-atom:before {
  content: "\e904";
}
.icon-azuredevops:before {
  content: "\e905";
}
.icon-babel:before {
  content: "\e906";
}
.icon-bitbucket:before {
  content: "\e907";
}
.icon-bootstrap:before {
  content: "\e908";
}
.icon-c:before {
  content: "\e909";
}
.icon-cakephp:before {
  content: "\e90a";
}
.icon-coffeescript:before {
  content: "\e90b";
}
.icon-cplusplus:before {
  content: "\e90c";
}
.icon-csharp:before {
  content: "\e90d";
}
.icon-css3:before {
  content: "\e90e";
}
.icon-django:before {
  content: "\e90f";
}
.icon-docker:before {
  content: "\e910";
}
.icon-dot-net:before {
  content: "\e911";
}
.icon-eslint:before {
  content: "\e912";
}
.icon-ethereum:before {
  content: "\e913";
}
.icon-figma:before {
  content: "\e914";
}
.icon-filezilla:before {
  content: "\e915";
}
.icon-firebase:before {
  content: "\e916";
}
.icon-flask:before {
  content: "\e917";
}
.icon-flutter:before {
  content: "\e918";
}
.icon-git:before {
  content: "\e919";
}
.icon-github:before {
  content: "\e91a";
}
.icon-gitlab:before {
  content: "\e91b";
}
.icon-gitpod:before {
  content: "\e91c";
}
.icon-go:before {
  content: "\e91d";
}
.icon-graphql:before {
  content: "\e91e";
}
.icon-gulp:before {
  content: "\e91f";
}
.icon-heroku:before {
  content: "\e920";
}
.icon-html5:before {
  content: "\e921";
}
.icon-icomoon:before {
  content: "\e922";
}
.icon-intellijidea:before {
  content: "\e923";
}
.icon-ionic:before {
  content: "\e924";
}
.icon-ios:before {
  content: "\e925";
}
.icon-java:before {
  content: "\e926";
}
.icon-javascript:before {
  content: "\e927";
}
.icon-jenkins:before {
  content: "\e928";
}
.icon-jest:before {
  content: "\e929";
}
.icon-jetbrains:before {
  content: "\e92a";
}
.icon-jira:before {
  content: "\e92b";
}
.icon-jquery:before {
  content: "\e92c";
}
.icon-json:before {
  content: "\e92d";
}
.icon-kotlin:before {
  content: "\e92e";
}
.icon-markdown:before {
  content: "\e92f";
}
.icon-microsoftazure:before {
  content: "\e930";
}
.icon-microsoftteams:before {
  content: "\e931";
}
.icon-mongodb:before {
  content: "\e932";
}
.icon-nativescript:before {
  content: "\e933";
}
.icon-netlify:before {
  content: "\e934";
}
.icon-node-dot-js:before {
  content: "\e935";
}
.icon-npm:before {
  content: "\e936";
}
.icon-nuxt-dot-js:before {
  content: "\e937";
}
.icon-php:before {
  content: "\e938";
}
.icon-postgresql:before {
  content: "\e939";
}
.icon-purescript:before {
  content: "\e93a";
}
.icon-pypi:before {
  content: "\e93b";
}
.icon-python:before {
  content: "\e93c";
}
.icon-pyup:before {
  content: "\e93d";
}
.icon-r:before {
  content: "\e93e";
}
.icon-react:before {
  content: "\e93f";
}
.icon-redux:before {
  content: "\e940";
}
.icon-ripple:before {
  content: "\e941";
}
.icon-ruby:before {
  content: "\e942";
}
.icon-rust:before {
  content: "\e943";
}
.icon-sass:before {
  content: "\e944";
}
.icon-slack:before {
  content: "\e945";
}
.icon-svelte:before {
  content: "\e946";
}
.icon-tailwindcss:before {
  content: "\e947";
}
.icon-typescript:before {
  content: "\e948";
}
.icon-umbraco:before {
  content: "\e949";
}
.icon-v8:before {
  content: "\e94a";
}
.icon-visualstudio:before {
  content: "\e94b";
}
.icon-visualstudiocode:before {
  content: "\e94c";
}
.icon-vue-dot-js:before {
  content: "\e94d";
}
.icon-webpack:before {
  content: "\e94e";
}
.icon-webstorm:before {
  content: "\e94f";
}
.icon-wordpress:before {
  content: "\e950";
}
