* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  color: #444;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}
body .navbar {
  background: linear-gradient(#21707d, #1a555e);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 7rem;
  width: 100vw;
}
body .navbar .logo {
  width: 7rem;
  height: auto;
}
body .navbar .logo img {
  width: 100%;
}
body .navbar .navigation a {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-decoration: none;
  margin: 0.8rem;
}
body .navbar .navigation a:last-child {
  padding: 0.5rem 1.5rem 0.7rem;
  border: 1.5px solid #fff;
  border-radius: 0.4rem;
}
body .navbar .navigation a:last-child:hover {
  background-color: #5aa4ad;
  border: 1.5px solid #5aa4ad;
  transition: all ease-in-out 0.2s;
}
body main .container {
  width: 70%;
  text-align: center;
  margin: 4rem auto;
}
body main .container header {
  width: 80%;
  margin: auto;
}
body main .container header h2 {
  line-height: 1.3rem;
  margin: 1rem;
}
body main .container header span {
  color: #21707d;
}
body main .container header .header-options {
  display: flex;
  padding-top: 1rem;
}
body main .container header .header-options .header-card {
  text-align: center;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 13px 3px #afd6db;
  max-width: 45%;
  height: auto;
  margin: 2rem auto 3rem;
}
body main .container header .header-options .header-card:hover {
  background-color: #fff;
}
body main .container header .header-options .header-card h4 {
  font-size: 1.2rem;
}
body main .container header .header-options .header-card i {
  background: #5aa4ad;
  color: #e9fafc;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  padding-top: 1.5rem;
  margin: 1.5rem;
  border-radius: 50%;
}
body main .container header .header-options .header-card h3 {
  font-size: 1.4rem;
  margin: 0 auto 1.5rem;
}
body main .container header .header-options .header-card p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}
body main .container header .header-options .header-card span {
  font-size: 1.2rem;
  color: #333;
}
body main .container header .header-options .header-card .book-assessment {
  margin: 1.3rem;
  transition: all ease-in-out 0.2s;
}
body main .container header .header-options .header-card .book-assessment:hover {
  transform: scale(1.1);
}
body main .container header .header-options .header-card .book-assessment:hover a {
  background-color: #afd6db;
  cursor: pointer;
}
body main .container header .header-options .header-card .book-assessment a {
  background-color: #21707d;
  color: #fff;
  padding: 0.9rem;
  margin: 4rem;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 0.6rem;
}
body main .container .search-container .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5aa4ad;
  width: 70%;
  height: 100%;
  margin: auto;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin: 2rem auto 3rem;
  border-radius: 0.4rem;
}
body main .container .search-container .search-bar input {
  padding: 0.8rem;
  margin: 0;
  flex-grow: 3;
  color: #555;
  font-size: 1.4rem;
  line-height: 1.3rem;
  border: 2px solid #5aa4ad;
  border-radius: 0.4rem 0 0 0.4rem;
}
body main .container .search-container .search-bar input:focus {
  outline: none;
  border: 2px solid #21707d;
}
body main .container .search-container .search-bar label {
  color: #fff;
  line-height: 1.3rem;
  cursor: pointer;
  margin: 0;
  padding: 1rem 1.5rem 1rem 0.5rem;
}
body main .container .search-container .search-bar label i {
  padding: 0 0.6rem;
}
body main .container .search-container .search-bar label:hover {
  background-color: #21707d;
  border-radius: 0.4rem;
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
}
body main .container .featured-info h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 2rem;
}
body main .container .featured-info h2 span {
  background-color: #afd6db;
  color: #fff;
  font-size: 2rem;
  padding: 0.9rem 1.5rem;
  border-radius: 0.3rem;
}
body main .container .featured-info p {
  font-size: 1.5rem;
  width: 60%;
  margin: 1.5rem auto;
}
body main .container .featured-info .featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
}
body main .container .featured-info .featured-container .featured-card {
  margin: 1.5rem;
  padding: 1rem 0;
  border-radius: 0.8rem;
  box-shadow: 0 0 13px 3px #afd6db;
}
body main .container .featured-info .featured-container .featured-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
body main .container .featured-info .featured-container .featured-card i {
  background: #21707d;
  color: #e9fafc;
  padding: 1.7rem;
  margin: 1.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  border-radius: 50%;
}
body main .container .featured-info .featured-container .featured-card i.light {
  background: #afd6db;
}
body main .container .featured-info .featured-container .featured-card i.medium {
  background: #5aa4ad;
}
body main .container .featured-info .featured-container .featured-card h3 {
  font-size: 1.4rem;
}
body main .container .featured-info .featured-container .featured-card p {
  width: 80%;
  font-size: 1.2rem;
}
body .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101vw;
  background: linear-gradient(#e9fafc, #1a555e);
  color: #fff;
  opacity: 0.5;
  padding-top: 4rem;
}
body .footer .social-links a {
  color: #1a555e;
  text-decoration: none;
  padding: 0.27rem;
  font-size: 2rem;
}
body .footer .social-links a:hover {
  color: #5aa4ad;
}
body .footer .quick-links {
  padding: 2rem;
}
body .footer .quick-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.3rem;
  font-size: 1.2rem;
}
body .footer .quick-links a:hover {
  color: #5aa4ad;
}
body .footer .info {
  margin-bottom: 2rem;
}
body .footer .info p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
}
body .footer .info p a {
  text-decoration: none;
  color: #afd6db;
  font-size: 1rem;
  font-family: "Acme", sans-serif;
  margin: 0.2rem;
}
body .footer .info p a:hover {
  color: #e9fafc;
}

@media (min-width: 1400px) and (max-width: 1800px) {
  body main {
    width: 90vw;
  }
  body main .container {
    width: 90vw;
  }
  body main .container .search-container .search-bar {
    background-color: #5aa4ad;
    width: 40vw;
    height: 100%;
    margin: auto;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.3rem;
    margin: 2rem auto 3rem;
    border-radius: 0.4rem;
  }
  body main .container .search-container .search-bar input {
    padding: 0.8rem;
    margin: 0;
    flex-grow: 3;
    color: #555;
    font-size: 1.3rem;
    line-height: 1.3rem;
    border: 2px solid #5aa4ad;
    border-radius: 0.4rem 0 0 0.4rem;
  }
  body main .container .search-container .search-bar input:focus {
    outline: none;
    border: 2px solid #21707d;
  }
  body main .container .search-container .search-bar label {
    color: #fff;
    line-height: 1.3rem;
    cursor: pointer;
    margin: 0;
    padding: 1rem 1.5rem 1rem 0.5rem;
  }
  body main .container .search-container .search-bar label i {
    padding: 0 0.6rem;
  }
  body main .container .search-container .search-bar label:hover {
    background-color: #21707d;
    border-radius: 0.4rem;
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
  }
}
@media (min-width: 1020px) and (max-width: 1399px) {
  body main {
    width: 100vw;
  }
  body main .container {
    width: 100vw;
  }
  body main .container header h2 {
    font-size: 1.2rem;
  }
  body main .container header .header-options .header-card .book-assessment a {
    margin: 0;
  }
  body main .container .search-container .search-bar {
    width: 50vw;
    background-color: #5aa4ad;
  }
  body main .container .featured-info h2 {
    font-size: 1.5rem;
  }
  body main .container .featured-info h2 span {
    font-size: 1.4rem;
  }
  body main .container .featured-info p {
    font-size: 1.4rem;
  }
}
@media (min-width: 700px) and (max-width: 1019px) {
  body .navbar {
    flex-direction: column;
    width: 100vw;
    padding: 1rem 0 1.6rem;
  }
  body .navbar .logo {
    margin: 1.3rem;
  }
  body main {
    width: 100vw;
  }
  body main .container {
    width: 100vw;
  }
  body main .container header {
    width: 100vw;
    text-align: center;
  }
  body main .container header h2 {
    font-size: 1.2rem;
  }
  body main .container header .header-options {
    width: 100vw;
    margin: 0.5rem;
  }
  body main .container header .header-options .header-card .book-assessment a {
    margin: 0;
  }
  body main .container .search-container .search-bar {
    padding: 0;
    font-size: 1.3rem;
    line-height: 1rem;
  }
  body main .container .featured-info h2 {
    font-size: 1.5rem;
  }
  body main .container .featured-info h2 span {
    font-size: 1.3rem;
  }
  body main .container .featured-info p {
    font-size: 1.3rem;
  }
  body main .container .featured-info .featured-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 699px) {
  body .navbar {
    flex-direction: column;
    width: 100vw;
    padding: 1rem 0 1.6rem;
  }
  body .navbar .logo {
    margin: 1.3rem;
  }
  body .navbar .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
  }
  body main {
    width: 100vw;
  }
  body main .container {
    width: 100vw;
  }
  body main .container header {
    width: 100vw;
    text-align: center;
  }
  body main .container header h2 {
    font-size: 1.2rem;
  }
  body main .container header .header-options {
    flex-direction: column;
    width: 100vw;
    margin: 0.5rem;
  }
  body main .container header .header-options .header-card {
    max-width: 80vw;
    margin: 1rem auto;
  }
  body main .container header .header-options .header-card .book-assessment a {
    margin: 0;
  }
  body main .container .search-container {
    display: none;
  }
  body main .container .featured-info h2 {
    font-size: 1.5rem;
  }
  body main .container .featured-info h2 span {
    font-size: 1.3rem;
  }
  body main .container .featured-info p {
    font-size: 1.3rem;
  }
  body main .container .featured-info .featured-container {
    grid-template-columns: 1fr;
  }
}
body {
  margin: auto;
}
body main {
  width: 90vw;
  margin: auto;
}
body main .container .search-container .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5aa4ad;
  width: 70%;
  height: 100%;
  margin: auto;
  font-size: 1.3rem;
  margin: 2rem auto 3rem;
  border-radius: 0.4rem;
}
body main .container .search-container .search-bar input {
  padding: 0.8rem;
  margin: 0;
  flex-grow: 3;
  color: #555;
  font-size: 1.4rem;
  border: 2px solid #5aa4ad;
  border-radius: 0.4rem 0 0 0.4rem;
}
body main .container .search-container .search-bar input:focus {
  outline: none;
  border: 2px solid #21707d;
}
body main .container .search-container .search-bar label {
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 1rem 1.5rem 1rem 0.5rem;
}
body main .container .search-container .search-bar label i {
  padding: 0 0.6rem;
}
body main .container .search-container .search-bar label:hover {
  background-color: #21707d;
  border-radius: 0.4rem;
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
}
body main .container .assessments-section {
  margin: auto;
}
body main .container .assessments-section p {
  font-size: 1.2rem;
  margin: 1rem;
}
body main .container .assessments-section .backdrop {
  z-index: 2;
}
body main .container .assessments-section .backdrop.show {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3490196078);
  top: 0;
  left: 0;
  height: 387vh;
  width: 200vw;
  transform: translate(0, 0);
  transition: all 0.1s ease-in-out;
}
body main .container .assessments-section .popup {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  position: absolute;
  top: 10%;
  left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 60%;
  border-radius: 0.8rem;
  box-shadow: 0 0 13px 3px #5aa4ad;
  transform: translate(0, -100rem);
  z-index: 4;
}
body main .container .assessments-section .popup.show {
  position: fixed;
  transform: translate(0, 0);
  transition: all 0.5s ease-in-out;
}
body main .container .assessments-section .popup .popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
}
body main .container .assessments-section .popup .popup-inner .close-popup {
  position: absolute;
  left: 94%;
  background-color: #21707d;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
body main .container .assessments-section .popup .popup-inner .close-popup:hover {
  background-color: #5aa4ad;
  cursor: pointer;
}
body main .container .assessments-section .popup .popup-inner .pop-up-header {
  width: 70%;
}
body main .container .assessments-section .popup .popup-inner p {
  font-size: 1.1rem;
  margin: 1rem;
}
body main .container .assessments-section h3 {
  background-color: #afd6db;
  color: #fff;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 0.3rem;
}
body main .container .assessments-section .assessments-container {
  display: flex;
  align-items: center;
}
body main .container .assessments-section .assessments-container button {
  color: #5aa4ad;
  font-size: 2rem;
  border: none;
  border-radius: 50;
  cursor: pointer;
}
body main .container .assessments-section .assessments-container button:hover {
  color: #afd6db;
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}
body main .container .assessments-section .assessments-container .assessment-card {
  max-width: 16rem;
  margin: 1rem;
  padding: 1.8rem 0;
  border-radius: 0.8rem;
  box-shadow: 0 0 13px 3px #afd6db;
}
body main .container .assessments-section .assessments-container .assessment-card:hover {
  background-color: #fff;
}
body main .container .assessments-section .assessments-container .assessment-card h4 {
  margin: 1rem;
  padding: 0 2rem;
  font-size: 1.1rem;
  line-height: 1.3rem;
  font-weight: 500;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon {
  display: flex;
  flex-direction: column;
  background-color: #afd6db;
  color: #e9fafc;
  width: 5rem;
  height: 5rem;
  margin: auto;
  border-radius: 50%;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon span {
  margin-top: 1.3rem;
  transform: scale(2);
  z-index: 1;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon p {
  margin: 0.6rem auto;
  font-size: 1.05rem;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.html {
  background-color: #f38942;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.css {
  background-color: #349edc;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.bootstrap {
  background-color: #513a75;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.tailwind {
  background-color: #19b3ba;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.sass {
  background-color: #cf649a;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.js {
  background-color: #f0c022;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.jquery {
  background-color: #193556;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.ts {
  background-color: #2f74c0;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.react {
  background-color: #4cbad8;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.angular {
  background-color: #de0031;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.vue {
  background-color: #41b883;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.python {
  background-color: #356895;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.django {
  background-color: #092e20;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.node {
  background-color: #3b7f3a;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.java {
  background-color: #131f3f;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.php {
  background-color: #4b568c;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.ruby {
  background-color: #eb5745;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.csharp {
  background-color: #92458c;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.cplusplus {
  background-color: #659bd3;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.dot-net {
  background-color: #6d409d;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.go {
  background-color: #67d7e1;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.git {
  background-color: #f04e35;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.heroku {
  background-color: #5821b2;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.firebase {
  background-color: #efc03c;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.atlassian {
  background-color: #004ec2;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-icon.bitbucket {
  background-color: #1f5081;
}
body main .container .assessments-section .assessments-container .assessment-card p {
  margin: 1rem auto;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-levels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: auto;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-levels .btn {
  background-color: #afd6db;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  margin: 0.3rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-levels .btn:nth-child(2) {
  background-color: #5aa4ad;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-levels .btn:last-child {
  background-color: #21707d;
}
body main .container .assessments-section .assessments-container .assessment-card .tech-levels .btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
body main .container .assessments-section .assessments-container .assessment-card p {
  font-size: 1.2rem;
  width: 80%;
}
body .bgr-medium {
  background-color: #5aa4ad;
}

@media (max-width: 699px) {
  body main {
    width: 100vw;
    margin: 0 2rem;
    padding: 0 1rem;
  }
  body main .assessments-section .popup {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 60%;
    border-radius: 0.8rem;
    box-shadow: 0 0 13px 3px #5aa4ad;
    transform: translate(0, -100rem);
    z-index: 4;
  }
  body main .assessments-section .popup.show {
    position: fixed;
    top: 10%;
    left: 3%;
    width: 85vw;
    height: 80vh;
    transform: translate(0, 0);
    transition: all 0.5s ease-in-out;
  }
  body main .assessments-section .popup .popup-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
  }
  body main .assessments-section .popup .popup-inner .close-popup {
    margin: -1rem;
  }
  body main .assessments-section .popup .popup-inner .close-popup:hover {
    background-color: #5aa4ad;
    cursor: pointer;
  }
  body main .assessments-section .popup .popup-inner .pop-up-header {
    width: 70%;
  }
  body main .assessments-section .popup .popup-inner p {
    font-size: 1.1rem;
    margin: 1rem;
  }
  body main .assessments-section h3 {
    background-color: #afd6db;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0.7rem;
    margin: 1rem;
    border-radius: 0.3rem;
  }
  body main .assessments-section .assessments-container {
    width: 95vw;
  }
  body main .assessments-section .assessments-container .assessment-card {
    max-width: 50rem;
    margin: 2rem;
  }
}