* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  color: #444;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
}
body .navbar {
  background: linear-gradient(#21707d, #1a555e);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 7rem;
  width: 100vw;
}
body .navbar .logo {
  width: 7rem;
  height: auto;
}
body .navbar .logo img {
  width: 100%;
}
body .navbar .navigation a {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-decoration: none;
  margin: 0.8rem;
}
body .navbar .navigation a:last-child {
  padding: 0.5rem 1.5rem 0.7rem;
  border: 1.5px solid #fff;
  border-radius: 0.4rem;
}
body .navbar .navigation a:last-child:hover {
  background-color: #5aa4ad;
  border: 1.5px solid #5aa4ad;
  transition: all ease-in-out 0.2s;
}
body main .container {
  width: 70%;
  text-align: center;
  margin: 4rem auto;
}
body main .container header {
  width: 80%;
  margin: auto;
}
body main .container header h2 {
  line-height: 1.3rem;
  margin: 1rem;
}
body main .container header span {
  color: #21707d;
}
body main .container header .header-options {
  display: flex;
  padding-top: 1rem;
}
body main .container header .header-options .header-card {
  text-align: center;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 13px 3px #afd6db;
  max-width: 45%;
  height: auto;
  margin: 2rem auto 3rem;
}
body main .container header .header-options .header-card:hover {
  background-color: #fff;
}
body main .container header .header-options .header-card h4 {
  font-size: 1.2rem;
}
body main .container header .header-options .header-card i {
  background: #5aa4ad;
  color: #e9fafc;
  font-size: 2rem;
  height: 5rem;
  width: 5rem;
  padding-top: 1.5rem;
  margin: 1.5rem;
  border-radius: 50%;
}
body main .container header .header-options .header-card h3 {
  font-size: 1.4rem;
  margin: 0 auto 1.5rem;
}
body main .container header .header-options .header-card p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 1.5rem;
}
body main .container header .header-options .header-card span {
  font-size: 1.2rem;
  color: #333;
}
body main .container header .header-options .header-card .book-assessment {
  margin: 1.3rem;
  transition: all ease-in-out 0.2s;
}
body main .container header .header-options .header-card .book-assessment:hover {
  transform: scale(1.1);
}
body main .container header .header-options .header-card .book-assessment:hover a {
  background-color: #afd6db;
  cursor: pointer;
}
body main .container header .header-options .header-card .book-assessment a {
  background-color: #21707d;
  color: #fff;
  padding: 0.9rem;
  margin: 4rem;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 0.6rem;
}
body main .container .search-container .search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5aa4ad;
  width: 70%;
  height: 100%;
  margin: auto;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin: 2rem auto 3rem;
  border-radius: 0.4rem;
}
body main .container .search-container .search-bar input {
  padding: 0.8rem;
  margin: 0;
  flex-grow: 3;
  color: #555;
  font-size: 1.4rem;
  line-height: 1.3rem;
  border: 2px solid #5aa4ad;
  border-radius: 0.4rem 0 0 0.4rem;
}
body main .container .search-container .search-bar input:focus {
  outline: none;
  border: 2px solid #21707d;
}
body main .container .search-container .search-bar label {
  color: #fff;
  line-height: 1.3rem;
  cursor: pointer;
  margin: 0;
  padding: 1rem 1.5rem 1rem 0.5rem;
}
body main .container .search-container .search-bar label i {
  padding: 0 0.6rem;
}
body main .container .search-container .search-bar label:hover {
  background-color: #21707d;
  border-radius: 0.4rem;
  transition: all ease-in-out 0.2s;
  transform: scale(1.1);
}
body main .container .featured-info h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 2rem;
}
body main .container .featured-info h2 span {
  background-color: #afd6db;
  color: #fff;
  font-size: 2rem;
  padding: 0.9rem 1.5rem;
  border-radius: 0.3rem;
}
body main .container .featured-info p {
  font-size: 1.5rem;
  width: 60%;
  margin: 1.5rem auto;
}
body main .container .featured-info .featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
}
body main .container .featured-info .featured-container .featured-card {
  margin: 1.5rem;
  padding: 1rem 0;
  border-radius: 0.8rem;
  box-shadow: 0 0 13px 3px #afd6db;
}
body main .container .featured-info .featured-container .featured-card:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
body main .container .featured-info .featured-container .featured-card i {
  background: #21707d;
  color: #e9fafc;
  padding: 1.7rem;
  margin: 1.5rem;
  font-size: 2rem;
  line-height: 2.5rem;
  border-radius: 50%;
}
body main .container .featured-info .featured-container .featured-card i.light {
  background: #afd6db;
}
body main .container .featured-info .featured-container .featured-card i.medium {
  background: #5aa4ad;
}
body main .container .featured-info .featured-container .featured-card h3 {
  font-size: 1.4rem;
}
body main .container .featured-info .featured-container .featured-card p {
  width: 80%;
  font-size: 1.2rem;
}
body .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 101vw;
  background: linear-gradient(#e9fafc, #1a555e);
  color: #fff;
  opacity: 0.5;
  padding-top: 4rem;
}
body .footer .social-links a {
  color: #1a555e;
  text-decoration: none;
  padding: 0.27rem;
  font-size: 2rem;
}
body .footer .social-links a:hover {
  color: #5aa4ad;
}
body .footer .quick-links {
  padding: 2rem;
}
body .footer .quick-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.3rem;
  font-size: 1.2rem;
}
body .footer .quick-links a:hover {
  color: #5aa4ad;
}
body .footer .info {
  margin-bottom: 2rem;
}
body .footer .info p {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
}
body .footer .info p a {
  text-decoration: none;
  color: #afd6db;
  font-size: 1rem;
  font-family: "Acme", sans-serif;
  margin: 0.2rem;
}
body .footer .info p a:hover {
  color: #e9fafc;
}

@media (min-width: 1400px) and (max-width: 1800px) {
  body main {
    width: 90vw;
  }
  body main .container {
    width: 90vw;
  }
  body main .container .search-container .search-bar {
    background-color: #5aa4ad;
    width: 40vw;
    height: 100%;
    margin: auto;
    padding: 0;
    font-size: 1.4rem;
    line-height: 1.3rem;
    margin: 2rem auto 3rem;
    border-radius: 0.4rem;
  }
  body main .container .search-container .search-bar input {
    padding: 0.8rem;
    margin: 0;
    flex-grow: 3;
    color: #555;
    font-size: 1.3rem;
    line-height: 1.3rem;
    border: 2px solid #5aa4ad;
    border-radius: 0.4rem 0 0 0.4rem;
  }
  body main .container .search-container .search-bar input:focus {
    outline: none;
    border: 2px solid #21707d;
  }
  body main .container .search-container .search-bar label {
    color: #fff;
    line-height: 1.3rem;
    cursor: pointer;
    margin: 0;
    padding: 1rem 1.5rem 1rem 0.5rem;
  }
  body main .container .search-container .search-bar label i {
    padding: 0 0.6rem;
  }
  body main .container .search-container .search-bar label:hover {
    background-color: #21707d;
    border-radius: 0.4rem;
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
  }
}
@media (min-width: 1020px) and (max-width: 1399px) {
  body main {
    width: 100vw;
  }
  body main .container {
    width: 100vw;
  }
  body main .container header h2 {
    font-size: 1.2rem;
  }
  body main .container header .header-options .header-card .book-assessment a {
    margin: 0;
  }
  body main .container .search-container .search-bar {
    width: 50vw;
    background-color: #5aa4ad;
  }
  body main .container .featured-info h2 {
    font-size: 1.5rem;
  }
  body main .container .featured-info h2 span {
    font-size: 1.4rem;
  }
  body main .container .featured-info p {
    font-size: 1.4rem;
  }
}
@media (min-width: 700px) and (max-width: 1019px) {
  body .navbar {
    flex-direction: column;
    width: 100vw;
    padding: 1rem 0 1.6rem;
  }
  body .navbar .logo {
    margin: 1.3rem;
  }
  body main {
    width: 100vw;
  }
  body main .container {
    width: 100vw;
  }
  body main .container header {
    width: 100vw;
    text-align: center;
  }
  body main .container header h2 {
    font-size: 1.2rem;
  }
  body main .container header .header-options {
    width: 100vw;
    margin: 0.5rem;
  }
  body main .container header .header-options .header-card .book-assessment a {
    margin: 0;
  }
  body main .container .search-container .search-bar {
    padding: 0;
    font-size: 1.3rem;
    line-height: 1rem;
  }
  body main .container .featured-info h2 {
    font-size: 1.5rem;
  }
  body main .container .featured-info h2 span {
    font-size: 1.3rem;
  }
  body main .container .featured-info p {
    font-size: 1.3rem;
  }
  body main .container .featured-info .featured-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 699px) {
  body .navbar {
    flex-direction: column;
    width: 100vw;
    padding: 1rem 0 1.6rem;
  }
  body .navbar .logo {
    margin: 1.3rem;
  }
  body .navbar .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
  }
  body main {
    width: 100vw;
  }
  body main .container {
    width: 100vw;
  }
  body main .container header {
    width: 100vw;
    text-align: center;
  }
  body main .container header h2 {
    font-size: 1.2rem;
  }
  body main .container header .header-options {
    flex-direction: column;
    width: 100vw;
    margin: 0.5rem;
  }
  body main .container header .header-options .header-card {
    max-width: 80vw;
    margin: 1rem auto;
  }
  body main .container header .header-options .header-card .book-assessment a {
    margin: 0;
  }
  body main .container .search-container {
    display: none;
  }
  body main .container .featured-info h2 {
    font-size: 1.5rem;
  }
  body main .container .featured-info h2 span {
    font-size: 1.3rem;
  }
  body main .container .featured-info p {
    font-size: 1.3rem;
  }
  body main .container .featured-info .featured-container {
    grid-template-columns: 1fr;
  }
}